$colors: (indigo, red, green);

@mixin nth-color($child) {
	@each $color in $colors {
		$index: index($colors, $color);
		&:nth-child(#{length($colors)}n + #{$index}) #{$child} {
			color: $color;
			@content;
		}
	}
}

ul {
	li {
		@include nth-color("h3") {
			border: 1px solid orange;
		}
	}
}
